<footer style="background-color: rgb(68, 74, 62); color: white; padding: 20px; text-align: center;">
    <div style="display: flex; justify-content: space-between; align-items: flex-start; flex-wrap: wrap;">
        <div style="flex: 1; min-width: 200px; text-align: left;">
            <p>Mailing Address: </p>
            <p>123 Main Street, Madison, WI</p>
            <p>Phone: (123) 456-7890</p>
        </div>
        <div style="flex: 1; min-width: 200px;">
            <div style="display: flex; justify-content: space-between;">
                <ul style="list-style: none; padding: 10; margin: 0;">
                    <li><a href="products.html" style="color: white; text-decoration: none;">Products</a></li>
                    <li><a href="cart.html" style="color: white; text-decoration: none;">Cart Overwiew</a></li>
                    <li><a href="checkout.html" style="color: white; text-decoration: none;">Checkout</a></li>
                </ul>
                <ul style="list-style: none; padding: 10; margin: 1;">
                    <li><a href="about.html" style="color: white; text-decoration: none;">About Us</a></li>
                    <li><a href="contact.html" style="color: white; text-decoration: none;">Contact Us</a></li>
                    <li><a href="recipes.html" style="color: white; text-decoration: none;">Recipes and Reccomendations</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div style="margin-top: 20px; font-size: 14px;">
        <p><a href="cart.html" style="color: rgb(248, 235, 52); text-decoration: none;">"We promise unbeatable prices"</a></p>
    </div>
</footer>