<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Simple Nav Bar</title>
  <style>
    nav {
      background-color: rgb(68, 74, 62);
      padding: 10px;
    }
    nav ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      display: flex;
    }
    nav ul li {
      margin-right: 20px;
    }
    nav ul li a {
      color: white;
      text-decoration: none; 
    }
    nav ul li a:hover {
      color: rgb(248, 235, 52);
      text-decoration: underline;
    }
  </style>
</head>
<nav class="navbar">
    <ul class="navbar-list">
        <li class="navbar-item"><a href="index.html">Home</a></li>
        <li class="navbar-item"><a href="products.html">Products</a></li>
        <li class="navbar-item"><a href="cart.html">Cart Overview</a></li>
        <li class="navbar-item"><a href="checkout.html">Checkout</a></li>
        <li class="navbar-item"><a href="about.html">About Us</a></li>
        <li class="navbar-item"><a href="contact.html">Contact</a></li>
        <li class="navbar-item"><a href="recipes.html">Recipes/Recommendations</a></li>
    </ul>
</nav>
</html>